@page
@model FlightsToCharts.Core.Pages.ContributorsModel
@{
   ViewData["Title"] = "Contributors";
}

@* THIS IS ALL YOURS *@

<h1 class="m-4">@ViewData["Title"]</h1>

<div>
   
</div>

@* UNTIL HERE *@
