@page
@model FlightsToCharts.Core.Pages.FlightsModel
@{
   ViewData["Title"] = "Flights";
   ViewData["Bundle"] = "flights.min.js";
}

<h1 class="m-4">@ViewData["Title"]</h1>

<div id="gridContainer" class="m-4" style="min-height: 65vh;">
   <div class="d-flex">
      <div id="gridData"></div>
      <div></div>
   </div>
</div>

<div id="loadPanel"></div>

<environment include="Development">
   <script src="~/js/src/flights.js"></script>
</environment>