@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1  id="ftw" class="display-4">Welcome</h1>

   <div id="gridContainer" style="min-height: 45vh"></div>
   <div id="loadPanel" style=""></div>
</div>
